---

layout: default

---

<div class="row well">
<div class="col-md-6"> <!-- left -->
    Welcome to the homepage for Topics in Algebra: K-Theory and Algebraic Cycles (UPenn MATH 7020)
    <br />
    <br />
    <p>This course is designed to be an advanced graduate topics course in algebra and algebraic geometry, and will
      focus on interactions between K-theory and algebraic cycles.
    </p>

    <p>Sources for Algebraic cycles:
      <ul>
        <li> <a href="https://link.springer.com/book/10.1007/978-1-4612-1700-8">Intersection Theory</a> (W. Fulton)</li>
        <li> <a href="https://iopscience.iop.org/article/10.1070/SM1968v006n04ABEH001070">Correspondences, Motifs and Monoidal Tranformations</a> (Y. Manin)</li>
      </ul>
    </p>
    <p>Sources for K-theory:
      <ul>
        <li> <a href="https://press.princeton.edu/books/paperback/9780691081014/introduction-to-algebraic-k-theory-am-72-volume-72"> Introduction to Algebraic K-Theory </a> (J. Milnor) </li>
        <li> <a href="https://iopscience.iop.org/article/10.1070/RM1969v024n05ABEH001357"> Lectures on the K-Functor in Algebraic Geometry</a> (Y. Manin) </li>
        <li> <a href="https://www.amazon.com/Algebraic-K-Theory-Progress-Mathematics-Srinivas/dp/0817637028"> Algebraic K-Theory</a> (V. Srinivas) </li>
        <li> <a href="https://sites.math.rutgers.edu/~weibel/Kbook.html"> The K-book: an introduction to algebraic K-theory </a> (C. Weibel) </li>
      </ul>
    </p>
    {% include news.html %}
</div> <!-- /left-->

<div class="col-md-5 col-md-offset-1"> <!-- right -->
  <div class="row well"> <!-- inner row well 1 (right) -->
    {% include basic_info.html %}
  </div> <!-- /inner row well 1 (right) -->
</div>
</div>
